html,
body {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body-wrapper {
    height: 100%;
    overflow: hidden;
    background-color: rgb(241, 241, 241);
}

.body-wrapper.frozen {
    pointer-events: none;
    filter: brightness(0.65);
    transition: all 0.3s ease;
}

.body-wrapper.default {
    pointer-events: all;
    filter: brightness(1);
    transition: all 0.3s ease;
}

.header {
    top: 0;
    height: auto;
    background: #007bff;
    color: white;
    height: 10%;
    display: flex;
}

.left-column {
    width: auto;
    float: left;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1% 3% 0 2%;
}

button.column {
    cursor: pointer;
    margin: 3% 0 3% 0;
    width: 100%;
    background: #007bff;
    color: white;
    border-width: 0;
    border-radius: 12px;
    padding: 10px 40px;
    font-weight: 700;
    transition: all 0.2s linear;
    font-size: 18px;
}

button.column:hover {
    color: white;
    background: #137cd2;
    border-color: white;
    transition: all 0.2s linear;
}

button.column:active {
    background: #105e9e;
}

.query-block {
    width: 50%;
    float: left;
    align-items: center;
    display: flex;
}

.search-container {
    position: relative;
    margin-left: 4%;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #555;
}

.search-input {
    padding: 10px 30px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    font-size: 16px;
    background-color: #dceaf8 !important;
}

.header-text-block {
    width: 50%;
    float: right;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.content-wrapper {
    margin: 0;
    padding: 0 4% 8% 1%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.todo-element {
    width: 100%;
    margin: 2% 0 -2px 0;
    padding: 14px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    user-select: none;
}

.todo-element:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
}

.todo-element:active {
    background-color: rgb(246, 246, 246);
}

.todo-element .title {
    padding-bottom: 2%;
}

.title .name {
    float: left;
    width: 50%;
}

.title .date {
    float: right;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.status-bad {
    color: rgb(220, 26, 26);
}

.status-ok {
    color: rgb(8, 175, 8);
}

.date .status-bad {
    margin-left: 10px;
}

.date .status-ok {
    margin-left: 10px;
}

hr {
    border: none;
    background-color: rgb(206, 206, 206);
    margin: 2px 0 5px 0;
    height: 1px;
}
